<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/auth/login">Login</a>
    <a href="/auth/logout">Logout</a>

    <h1>Login using open authorization!!</h1>

    <a
      href="/auth/google"
      style="
        color: white;
        background-color: red;
        padding: 20px;
        border: none;
        cursor: pointer;
        text-decoration: none;
      "
    >
      Google
    </a>
  </body>
</html>
